<template name="polls">
<form>

  <input class="checkbox" type="checkbox" name="venue" value="carbon" style="visibility: visible" > Carbon <br>
	<div class="progress">
		<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
		id="percent1" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment1}}</div>
	</div>
  <input class="bt2 button" type="checkbox" name="venue" value="electric" style="visibility: visible" id="p1"> Electric <br>
	<div class="progress">
		<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
		id="percent2" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment2}}</div>
	</div>
  <input class="bt3 button" type="checkbox" name="venue" value="4/4" style="visibility: visible"> 4/4 <br>
	<div class="progress">
		<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
		id="percent3" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment3}}</div>
	</div>
  <input class="bt4 button" type="checkbox" name="venue" value="karma" style="visibility: visible"> Karma <br>
	<div class="progress">
		<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
		id="percent4" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment4}}</div>
	</div>
  <input class="bt5 button" type="checkbox" name="venue" value="the kings head" style="visibility: visible"> The Kings' Head <br>
	<div class="progress">
		<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
		id="percent5" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment5}}</div>
	</div>
  <input class="bt6 button" type="checkbox" name="venue" value="the roisin" style="visibility: visible"> The Roisin <br>
	<div class="progress">
		<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
		id="percent6" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment6}}</div>
	</div>
  <input class="bt7 button" type="checkbox" name="venue" value="house party" style="visibility: visible"> House Party <br>
	<div class="progress">
		<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
		id="percent7" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment7}}</div>
	</div>
  <input class="bt8 button" type="checkbox" name="venue" value="the skef" style="visibility: visible"> The Skeff <br>
	<div class="progress">
		<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
		id="percent8" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment8}}</div>
	</div>
  <input class="bt9 button" type="checkbox" name="venue" value="coyotes" style="visibility: visible"> Coyotes <br>
	<div class="progress">
		<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
		id="percent9" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment9}}</div>
	</div>
  <input class="bt10 button" type="checkbox" name="venue" value="not going out" style="visibility: visible"> Not Going Out <br>
	<div class="progress">
		<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
		id="percent10" aria-valuemin="0" aria-valuemax="100" style="width:0%">{{increment10}}</div>
	</div>
</form>
</template>
